.Recovery {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    border-radius: 50px 50px 50px 50px;
    background: #F0F8FF;
    box-shadow: inset 100px -100px 100px rgba(114, 116, 119, 0.123), inset -100px 100px 100px rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(600px);
}
.hinhdo {
    padding-top: 20px;
    padding-left: 20px;
}
.hinhdo1 {
    width: 75px;
    height: 75px;
    background: #FF2D55;
    border-radius: 40px 40px 40px 40px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}



.Content {
    position: absolute;
    width: 1542px;
    height: 800px;
    left: 189px;
    top: 140px;
    display: flex;
    background: white;
    border-radius: 32px;
}



.Contentleft {
    flex: 5;
    width: 776px;
    height: 752px;
    left: 24px;
    top: 24px;
    margin-top: 15px;
    margin-left: 30px;
}

.bgnho {
    width: 770px;
    height: 752px;
    margin-bottom: 35%;
    margin-right: 50px;
    position: relative;
    background: conic-gradient(from 76.92deg at 50% 50%, #C5FFFB -73.21deg, #E4E9FE 2.5deg, #A9D7FF 81.36deg, #89DCFF 143.29deg, #A9C6FF 207.16deg, #C5FFFB 286.79deg, #E4E9FE 362.5deg);
    opacity: 0.5;
    border-radius: 18px;
}

.Contentright {
    flex: 5;
}

.NameRecovery {
    font-family: Mulish;
    font-style: normal;
    font-weight: 350;
    font-size: 40px;
    margin-top: 15%;
    text-align: center;
    margin-right: 25%;
}

.ContentText {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.Text0 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
    margin-right: 25px;
}

.Text1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
    margin-right: 60px;
}

.Text2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
    margin-right: 29px;
}






.caiatm {
    margin-top: 10%;
    margin-left: 16%;
    height: 595px;
    position: absolute;
    z-index: 1;
}

.bongatm {
    position: absolute;
    z-index: 0;
    margin-top: 34.5%;
    opacity: 0.9;
}

.p1 {
    position: absolute;
    z-index: 1;
    margin-top: 3%;
    margin-left: 30px;
}

.p2 {
    position: absolute;
    z-index: 2;
    margin-top: 15%;
    margin-left: 43%;
}

.p3 {
    position: absolute;
    z-index: 2;
    margin-top: 35%;
    margin-left: 30%;
}

.laymatkhau {
    font-family: Mulish;
    font-style: normal;
    color: #1085C5;
    position: absolute;
    z-index: 2;
    margin-top: 20%;
    margin-left: 22%;
}

.eye {
    position: absolute;
    right: 200px;
    transform: translate(0, 50%);
    top: 336px;
    cursor: pointer;
}

.lammo {
    font-size: 20px;
    color: #7a797e;
}

.quaylaitrangemail {
    font-family: Mulish;
    font-style: normal;
    color: #1085C5;
    position: absolute;
    z-index: 2;
    margin-top: 20%;
    margin-left: 20%;
}
.textEmail{
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    margin-right: 32%;
    color: #091F3A;
    opacity: 0.6;
    margin-top: 25px;
    margin-right: 30px;
}


